<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.petscoffee">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.PetsCoffee">
        <activity
            android:name="com.example.petscoffee.ui.pets.activities.LoginActivity"
            android:exported="true"
            android:label="PetsCoffee"
            android:theme="@style/Theme.PetsCoffee.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.petscoffee.ui.pets.activities.PictureActivity"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <activity
            android:name="com.example.petscoffee.ui.pets.activities.WorkActivity"
            android:exported="false" />

        <service
            android:name=".service.WorkService"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name="com.example.petscoffee.ui.pets.activities.PetsActivity"
            android:launchMode="singleTask"
            android:exported="false" />
        <activity
            android:name="com.example.petscoffee.ui.pets.activities.ShopActivity"
            android:launchMode="singleTask"
            android:exported="false" />
        <activity
            android:name="com.example.petscoffee.ui.pets.activities.BagActivity"
            android:launchMode="singleTask"
            android:exported="false" />
        <activity
            android:name="com.example.petscoffee.ui.pets.activities.MainPageActivity"
            android:launchMode="singleTask"
            android:exported="false"
            android:theme="@style/Theme.PetsCoffee.NoActionBar"/>
        <activity
            android:name="com.example.petscoffee.ui.pets.activities.PictureActivity"
            android:launchMode="singleTask"
            android:exported="false" />
        <activity
            android:name="com.example.petscoffee.ui.pets.activities.FirstActivity"
            android:exported="true" />
    </application>

</manifest>